<?xml version="1.0" encoding="UTF-8"?>
<!-- http://groups.google.com/group/google-appengine-java/browse_frm/thread/b49a4a0234e5c255/7c07a57fffd3b776 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>gaeServlet</servlet-name>
		<servlet-class>grond.server.GaeImpl</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>nativeGaeServlet</servlet-name>
        <servlet-class>grond.server.ServerImpl</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>testsServlet</servlet-name>
		<servlet-class>grond.server.GaeTestsImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gaeServlet</servlet-name>
		<url-pattern>/grond/gae</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>nativeGaeServlet</servlet-name>
        <url-pattern>/grond/nativeGae</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>testsServlet</servlet-name>
		<url-pattern>/grond/tests</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Grond.html</welcome-file>
	</welcome-file-list>

</web-app>
