<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<filter>
		<filter-name>rpcJsonFilter</filter-name>
		<filter-class>com.seventhdawn.gwt.rpc.scripttag.server.RPCJsonFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>rpcJsonFilter</filter-name>
		<servlet-name>gaeServlet</servlet-name>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>gaeServlet</servlet-name>
		<servlet-class>grond.server.GaeImpl</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>testsServlet</servlet-name>
    <servlet-class>grond.server.GaeTestsImpl</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>gaeServlet</servlet-name>
		<url-pattern>/grond/gae</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>testsServlet</servlet-name>
    <url-pattern>/grond/tests</url-pattern>
  </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Grond.html</welcome-file>
	</welcome-file-list>

</web-app>
